{% extends 'base.html' %}

{% block title %} Availability {% endblock %}

{% block content %}
    
    <h1>Add Department</h1>
    <form action="{{ url_for('add_availability', doctor_id=doctor_id) }}" method="POST">
        <h2>Book a Slot</h2>

        <label for="date">Choose Date:</label>
        <input type="date" id="date" name="date" required>

        <br>

        <label for="start_time">Choose Start Time:</label>
        <input type="time" id="start_time" name="start_time" required>

        <br>

        <label for="end_time">Choose End Time:</label>
        <input type="time" id="end_time" name="end_time" required>
       
        <br>

        <input type="submit" value="Add Slot"><br>
    </form>

{% endblock %}